.addToCart {
  display: flex;
  &__price {
    font-size: 2rem;
    font-weight: 700;
    width: 70rem;
    flex-wrap: wrap;
    letter-spacing: 0.3rem;
  }
  &__btn {
    font-weight: 600;
    font-size: 1.4rem;
    color: $color-white;
    background-color: $color-primary;
    border: none;
    width: 16rem;
    height: 5rem;
    text-transform: uppercase;
  }
  &__btnBox {
    display: flex;
    gap: 2rem;
  }
}

.btnCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  background-color: $color-light-gray;
  gap: 2rem;

  &__minus {
    padding-bottom: 0.4rem;
    color: #b5b5b5;
    font-size: 1.8rem;
    border: none;
  }
  &__plus {
    color: #b5b5b5;
    font-size: 1.8rem;
    border: none;
  }
  &__quantity {
    font-size: 1.4rem;
  }
}
