.audioBox {
  display: flex;

  padding: 15rem 20% 15rem 20%;
  width: 100%;
  justify-content: space-between;

  gap: 4rem;
  @include respond-to(tablet-large) {
    padding: 15rem 5%;
  }
  @include respond-to(mobile-large) {
    flex-direction: column;
    padding: 15rem 10%;
    gap: 20rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: $color-light-gray;
    width: 100%;
    height: 20rem;
    position: relative;
    border-radius: 1rem;
    gap: 2rem;

    @include respond-to(mobile-large) {
      height: 25rem;
    }
  }
  &__img {
    max-width: 60%;
    height: auto;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    @include respond-to(desktop-small) {
      max-width: 70%;
    }
    @include respond-to(tablet-large) {
      max-width: 60%;
    }
    @include respond-to(tablet-small) {
      max-width: 70%;
    }
    @include respond-to(mobile-large) {
      max-width: 40%;
      top: -100px;
    }
    @include respond-to(mobile-medium) {
      max-width: 45%;
    }
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.7rem;
    @include respond-to(mobile-large) {
      font-size: 2.6rem;
    }
  }
  &__btn {
    font-family: "Manrope", sans-serif;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    color: #878887;
    font-weight: 600;

    @include respond-to(mobile-large) {
      font-size: 2.6rem;
      padding-bottom: 4rem;
    }

    &:hover {
      color: $color-accent;
      cursor: pointer;
    }
  }

  &__arrow {
    margin-left: 0.5rem;
  }
}
