.overlay {
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 76, 76, 0.4);

  /* Light gray with some transparency */
  z-index: 100; /* Ensure it is on top of other elements */
  @include respond-to(tablet-small) {
    position: fixed;
  }
}

.audioBoxV3 {
  display: flex;
  background-color: $color-white;

  padding: 5%;
  padding-top: 15rem;
  padding: 15rem 20% 5rem 20%;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;

  gap: 4rem;
  @include respond-to(tablet-large) {
    padding: 15rem 5% 5rem 5%;
  }

  @include respond-to(mobile-large) {
    flex-direction: column;
    align-items: center;
    padding: 10rem 5%;
    gap: 10rem;
    height: 60vh;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: $color-light-gray;
    width: 100%;
    height: 20rem;
    position: relative;
    border-radius: 1rem;
    gap: 2rem;

    @include respond-to(mobile-large) {
      min-height: 20rem;
      width: 80%;
    }
  }
  &__img {
    width: 20rem;
    height: auto;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    // @include respond-to(desktop-small) {
    //   max-width: 70%;
    // }
    // @include respond-to(tablet-large) {
    //   max-width: 60%;
    // }
    // @include respond-to(tablet-small) {
    //   max-width: 70%;
    // }
    // @include respond-to(mobile-large) {
    //   max-width: 40%;
    //   top: -100px;
    // }
    // @include respond-to(mobile-medium) {
    //   max-width: 50%;
    //   top: -70px;
    // }
    @include respond-to(tablet-small) {
      width: 15rem;
      top: -50px;
    }
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.7rem;
    @include respond-to(mobile-large) {
      font-size: 2.6rem;
    }
    @include respond-to(mobile-large) {
      font-size: 2rem;
    }
  }
  &__btn {
    font-family: "Manrope", sans-serif;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    color: #878887;
    font-weight: 600;

    @include respond-to(mobile-large) {
      font-size: 2.3rem;
      padding-bottom: 4rem;
    }

    &:hover {
      color: $color-accent;
      cursor: pointer;
    }
  }

  &__arrow {
    margin-left: 0.5rem;
  }
}
