.goBack {
  background-color: $color-light-gray;
}

.checkoutContainer {
  display: flex;
  justify-content: center;

  background-color: $color-light-gray;
  gap: 4rem;
  border-radius: 8px;
  @include respond-to(tablet-small) {
    padding: 4rem;
  }

  .checkout__box {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 73rem;
    height: 100%;
    background-color: #fff;
    padding: 4rem;

    margin-top: 5rem;
    margin-bottom: 10rem;
    border-radius: 6px;
    @include respond-to(tablet-large) {
      flex-direction: column;
      margin-bottom: 0;
      width: 90%;
    }
    @include respond-to(tablet-small) {
      width: 100%;
      padding: 4rem;
    }

    .checkout__title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
      color: #000;

      @include respond-to(tablet-large) {
        font-size: 4rem;
      }
    }

    .checkout__BillingDetails,
    .checkout__ShippingInfo,
    .checkout__PaymentDetails {
      margin-bottom: 20px;

      &-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #f38943;
        @include respond-to(tablet-large) {
          font-size: 2rem;
        }
      }

      &-Container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;

        @include respond-to(tablet-small) {
          grid-template-columns: 1fr;
        }

        label {
          display: flex;
          align-items: start;
          font-size: 1.4rem;
          color: #000; /* Black color for method labels */
          grid-area: 1 / 1 / 3 / 2;
          @include respond-to(tablet-large) {
            font-size: 2rem;
          }
        }

        &-name,
        &-email,
        &-phone,
        &-address,
        &-zipcode,
        &-city,
        &-country,
        &-method,
        &-number,
        &-pin {
          display: flex;
          flex-direction: column;

          label {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            color: #000; /* Black color for labels */
            @include respond-to(tablet-large) {
              font-size: 2rem;
            }
            & span {
              margin-left: auto;
              color: red;
            }
          }

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="number"] {
            padding: 1.5rem;
            font-size: 1.6rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            @include respond-to(tablet-large) {
              font-size: 2rem;
              padding: 2.5rem;
            }

            &:focus {
              border-color: #ff6600;
            }
          }

          input[type="radio"] {
            margin-right: 10px;
          }
        }

        &-address {
          grid-column: span 2;
        }

        &-method-options {
          display: flex;
          align-items: center;
          gap: 2rem;

          &-input {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 1.5rem;
            font-size: 1.6rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
          }
        }
      }
    }
  }

  .checkout__summary {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #000; /* Black color for summary text */
  }
}

.cash {
  display: flex;
  align-items: center;
  gap: 3rem;
  grid-area: 3/1 / 4 / 3;
  &__icon {
    height: 4.8rem;
  }

  &__text {
    font-size: 1.5rem;
  }
}

.form {
  display: flex;
  width: 100%;
  gap: 4rem;
  height: 100%;
  justify-content: center;

  @include respond-to(tablet-large) {
    flex-direction: column;
    gap: 0;
    width: 80%;
    align-items: center;
  }
  @include respond-to(tablet-small) {
    width: 100%;
  }
}

.inputInvalid {
  border-color: red !important;
}

.checkout__ShippingInfo-Container {
  display: flex !important;
  flex-direction: column;
}
