.features {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10rem 20% 10rem 20%;

  &__Title {
    font-size: 3.6rem;
    font-weight: 600;
  }
  &__Description {
    max-width: 63.5rem;
  }

  &__DescriptionText {
    font-size: 1.6rem;
    font-weight: 500;

    color: #7d7d7d;
  }

  &__includes {
    &-title {
      font-size: 3.6rem;
      font-weight: 600;
    }

    &-quantityBox {
    }

    &-quantity {
    }
  }
}
