.imgContainer {
  display: flex;
  width: 100%;
  height: 59.2rem;

  gap: 3rem;

  padding: 0rem 20% 0rem 20%;
  @include respond-to(tablet-large) {
    padding: 0rem 5% 0rem 5%;
  }
  @include respond-to(tablet-medium) {
    flex-direction: column;
    height: 100rem;
  }

  &__imgBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: 100%;

    &-img {
      border-radius: 1rem;
      width: 100%;
      height: 100%;
    }
  }
  &__imgBigBox {
    width: 100%;
    height: 100%;
    &-img {
      border-radius: 1rem;
      width: 100%;
      height: 100%;
    }
  }
}
