* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
}

$color-primary: #d87d4a;
$color-dark: #191919;
$color-light-gray: #f1f1f1;
$color-white-bg: #fafafa;
$color-accent: #fbaf85;
$color-white: #ffffff;
$color-black: #000000;

@import "./sectionOne.scss";
@import "./audioProducts.scss";
@import "./audioProductsV2.scss";
@import "./sectionTwo.scss";
@import "./productCard.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./XX99MARKII.scss";
@import "./XX99MARKI.scss";
@import "./XX59.scss";
@import "./features.scss";
@import "./gallery.scss";
