// main.scss

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
$color-primary: #d87d4a;
$color-dark: #191919;
$color-light-gray: #f1f1f1;
$color-white-bg: #fafafa;
$color-accent: #fbaf85;
$color-white: #ffffff;
$color-black: #000000;

$breakpoint-mobile-small: 320px;
$breakpoint-mobile-medium: 480px;
$breakpoint-mobile-large: 600px;
$breakpoint-tablet-small: 768px;
$breakpoint-tablet-medium: 900px;
$breakpoint-tablet-large: 1024px;
$breakpoint-desktop-small: 1200px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1600px;

// Mixins
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile-small {
    @media (max-width: $breakpoint-mobile-small) {
      @content;
    }
  } @else if $breakpoint == mobile-medium {
    @media (max-width: $breakpoint-mobile-medium) {
      @content;
    }
  } @else if $breakpoint == mobile-large {
    @media (max-width: $breakpoint-mobile-large) {
      @content;
    }
  } @else if $breakpoint == tablet-small {
    @media (max-width: $breakpoint-tablet-small) {
      @content;
    }
  } @else if $breakpoint == tablet-medium {
    @media (max-width: $breakpoint-tablet-medium) {
      @content;
    }
  } @else if $breakpoint == tablet-large {
    @media (max-width: $breakpoint-tablet-large) {
      @content;
    }
  } @else if $breakpoint == desktop-small {
    @media (max-width: $breakpoint-desktop-small) {
      @content;
    }
  } @else if $breakpoint == desktop-medium {
    @media (max-width: $breakpoint-desktop-medium) {
      @content;
    }
  } @else if $breakpoint == desktop-large {
    @media (max-width: $breakpoint-desktop-large) {
      @content;
    }
  }
}

// Import Other SCSS Files
@import "./sectionOne";
@import "./audioProducts";
@import "./audioProductsV2";
@import "./sectionTwo";
@import "./productCard";
@import "./footer";
@import "./header";
@import "./XX99MARKII";
@import "./XX99MARKI";
@import "./XX59";
@import "./features";
@import "./gallery";
@import "./addToCart";
@import "./cart";
@import "./summary";
@import "./goBack";
@import "./cheakOut";
@import "./confirmation";

html {
  font-size: 62.5%; // Base font size for normal screens
  font-family: "Manrope", sans-serif;
  @include respond-to(desktop-large) {
    font-size: 55%;
  }

  @include respond-to(desktop-medium) {
    font-size: 52.5%;
  }

  @include respond-to(desktop-small) {
    font-size: 50%;
  }

  @include respond-to(tablet-large) {
    font-size: 47.5%;
  }

  @include respond-to(tablet-medium) {
    font-size: 45%;
  }

  @include respond-to(tablet-small) {
    font-size: 42.5%;
  }

  @include respond-to(mobile-large) {
    font-size: 40%;
  }

  @include respond-to(mobile-medium) {
    font-size: 37.5%;
  }

  @include respond-to(mobile-small) {
    font-size: 35%; // Smallest font size
  }
}
