.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-dark;
  background-image: url("../assets/home/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain; /* Adjusted to display the image at its original size */
  background-position: center;
  height: 75vh;
  gap: 7rem;

  @include respond-to(tablet-small) {
    align-items: center;
    background-image: url("../assets/home/tablet/image-header.jpg");
  }
  @include respond-to(mobile-small) {
    align-items: center;
    background-image: url("../assets/home/mobile/image-header.jpg");
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-white;
  max-width: 35rem;
  gap: 3rem;
  padding-top: 20rem;
  margin-left: 20%;
  @include respond-to(tablet-small) {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  &__new {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #a09ea0;
  }

  &__title {
    font-weight: 600;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 6rem;
  }

  &__description {
    font-weight: 500;
    font-size: 1.6rem;
    color: #c0c5c5;
    line-height: 2.5rem;
  }

  &__btn-see {
    font-weight: 600;
    font-size: 1.5rem;
    color: $color-white;
    background-color: $color-primary;
    border: none;
    width: 16rem;
    height: 5rem;
    text-transform: uppercase;
  }
}
